<a href="https://colab.research.google.com/github/DinRazar/universite/blob/main/Copy_of_%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *Наумов Дмитрий Дмитриевич*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
print('Добро пожаловать в мир Python!')

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [2]:
print(15 + 27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [ ]:
nom = "Дима"
print(nom)

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [4]:
print("L'amour, c'est rien!\nQuand c'est politiquement correct\nOn s'aime bien\nOn n' sait même pas quand on se blesse")

L'amour, c'est rien!
Quand c'est politiquement correct
On s'aime bien
On n' sait même pas quand on se blesse

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [5]:
print(f"7 + 7 = {7 + 7}")

7 + 7 = 14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [8]:
nombre1 = float(input("Введите первое число: "))
nombre2 = float(input("Введите второе число: "))
nombre3 = float(input("Введите третье число: "))

somme  = nombre1 * nombre2 * nombre3

print(f"Произведение чисел {nombre1}, {nombre2} и {nombre3} равно: {somme }")

Введите первое число: 1
Введите второе число: 2
Введите третье число: 3
Произведение чисел 1.0, 2.0 и 3.0 равно: 6.0

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [9]:
fio = input("Введите ваше ФИО (Фамилия Имя Отчество): ")

name_parts = fio.split()


surname = name_parts[0]

first_initial = name_parts[1][0] if len(name_parts) > 1 else ''

middle_initial = name_parts[2][0] if len(name_parts) > 2 else ''

if first_initial and middle_initial:
    initials = f"{surname} {first_initial}.{middle_initial}."
elif first_initial:
    initials = f"{surname} {first_initial}."
else:
    initials = surname

print(f"Фамилия и инициалы: {initials}")

Введите ваше ФИО (Фамилия Имя Отчество): Наумов Дмитрий Дмитриевич
Фамилия и инициалы: Наумов Д.Д.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [10]:
text = input("Введите строку: ")

char = input("Введите символ для поиска: ")

count = text.count(char)

print(f"Символ '{char}' встречается в строке {count} раз(а)")

Введите строку: И смерти нет почетней той,  Что ты принять готов  За кости пращуров своих,  За храм своих богов.
Введите символ для поиска: ч
Символ 'ч' встречается в строке 1 раз(а)

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [11]:
color = input("Введите ваш любимый цвет: ")

print(f"{color} - красивый цвет!")

Введите ваш любимый цвет: охра
охра - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [12]:
text = input("Введите строку: ")

len = len(text)

print(f"Длина строки: {len} символов")

Введите строку: Я уже говорил тебе, что такое безумие? А? Безумие — это точное повторение одного и того же действия, раз за разом, в надежде на изменение. Это и есть безумие
Длина строки: 157 символов

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [13]:
nombre = 42

print(nombre)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [14]:
résultat = (17 * 3) + (10 / 2)

print(int(résultat))

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [15]:
nombre = int("100")

résultat = nombre + 25

print(résultat)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [16]:
variable = 7

print(type(variable))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [17]:
a = 15
b = 8

différence = a - b

print(différence)

7

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [18]:
nombre = float(input("Введите вещественное число: "))

carré = nombre ** 2

print(f"Квадрат числа {nombre} равен: {carré}")

Введите вещественное число: 3
Квадрат числа 3.0 равен: 9.0

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [19]:
nombre = float(input("Введите вещественное число: "))

nombre2 = round(nombre, 2)

print(f"Округленное число: {nombre2}")

Введите вещественное число: 3.23523452345235
Округленное число: 3.24

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [55]:
résultat = 2.5 + 4.7

print(résultat)

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [21]:
celsius = float(input("Введите температуру в градусах Цельсия: "))

fahrenheit = celsius * 9/5 + 32

print(f"{celsius}°C = {fahrenheit}°F")

Введите температуру в градусах Цельсия: 11.4
11.4°C = 52.52°F

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [23]:
length = float(input("Введите длину прямоугольника: "))
width = float(input("Введите ширину прямоугольника: "))

area = length * width

perimeter = 2 * (length + width)

print(f"Площадь прямоугольника: {area}")
print(f"Периметр прямоугольника: {perimeter}")

Введите длину прямоугольника: 21
Введите ширину прямоугольника: 44
Площадь прямоугольника: 924.0
Периметр прямоугольника: 130.0

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [24]:
texte = str("Python - самый популярный язык программирования")

print(texte)

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [25]:
texte = "Привет, мир!"

print("Первый символ:", texte[0])
print("Последний символ:", texte[-1])
print(type(texte))

Первый символ: П
Последний символ: !
<class 'str'>

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [26]:
mot1 = "МИИГАиК - "
mot2 = "Лучший "
mot3 = "ВУЗ!"

résultat = mot1 + mot2 + mot3

print(résultat)

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [28]:
nombre = int("12345")

print("Значение:", nombre)
print("Тип:", type(nombre))

Значение: 12345
Тип: <class 'int'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [29]:
texte = "python is Fun"

texte2 = texte.upper()

print(texte2)

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [30]:
numéros = [10, 20, 30, 40, 50]

print(numéros)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [31]:
numéros = [10, 20, 30, 40, 50]

numéros.append("новый элемент")

print(numéros)

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [33]:
numéros = ['python', 'java', 'c++', 'ruby', 'perl']

numéros24 = numéros[1:4]

print(numéros24)

['java', 'c++', 'ruby']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [36]:
liste = []

liste.append("Помогите")
liste.append("Я хочу домой")
liste.append(52)

print(liste)

['Помогите', 'Я хочу домой', 52]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [37]:
numéros = [1, 2, 3, 4, 5]

numéros[1] = 200

print(numéros)

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [39]:
numéros = (1, 2, 3, 4, 5)

print(numéros)

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [42]:
tuple1 = (1, 2, 3, 4, 5)

print('Кортеж нельзя менять')

tuple1[1] = 200

Кортеж нельзя менять

TypeError: 'tuple' object does not support item assignment

####3. Преобразуйте кортеж в строку и выведите результат.

In [43]:
tuple2 = ('О', 'с', 'У', 'ж', 'Д', 'а', 'Ю')


string1 = ''.join(tuple2)

print(string1)

ОсУжДаЮ

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [45]:
tuple3 = ('Росиия', 'Украина', 'Беларусь')

search = 'Беларусь'

if search in tuple3:
    print(f"'{search}' содержится в кортеже")
else:
    print(f"'{search}' не содержится в кортеже")

'Беларусь' содержится в кортеже

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [46]:
tuple4 = (1, 2, 3, 2, 4, 2, 5, 2, 6, 2)

count = tuple4.count(2)

print(f"Число 2 встречается в кортеже {count} раз(а)")

Число 2 встречается в кортеже 5 раз(а)

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [50]:
All_About_Us = {
    "имя": "Дима",
    "возраст": 21,
    "город": "Нижний Новгород"
}

print(All_About_Us)

{'имя': 'Дима', 'возраст': 21, 'город': 'Нижний Новгород'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [51]:
print(All_About_Us["имя"])

Дима

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [52]:
All_About_Us["профессия"] = "(^˵◕ω◕˵^) "

print(All_About_Us)

{'имя': 'Дима', 'возраст': 21, 'город': 'Нижний Новгород', 'профессия': '(^˵◕ω◕˵^) '}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [53]:
del All_About_Us["город"]

print(All_About_Us)

{'имя': 'Дима', 'возраст': 21, 'профессия': '(^˵◕ω◕˵^) '}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [54]:
dict1 = {}

key = input("Введите ключ: ")
value = input("Введите значение: ")

dict1[key] = value

print("Обновленный словарь:", dict1)

Введите ключ: Знаменитый Итальянец
Введите значение: Тум тум тум Савур
Обновленный словарь: {'Знаменитый Итальянец ': 'Тум тум тум Савур'}